<html>
    <head>
        <title>Penisuela blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Мнения Penisuela</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Моё мнение №1</a></h2>
            <p>Путин президент мира! </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Моё мнение №2</a></h2>
            <p>Таджикистон ба пеш!</p>
        </div>
    </body>
</html>